{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>About me</h1>
<span class="subheading">Biography</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/johnny.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Johnny Ordoñez</h2>   
        <p>Systems Engineer || Student at Platzi || Opensource Enthusiast || Python and JavaScript Developer || I am a developer web backend and frontend living in Venezuela. I have been working in the software industry for 3+ years. You can consider me as an open source enthusiast, passionate about software development, user windows, self motivated person who loves writing codes professionally, as well as a hobby.</p>
    </div>
</div>
{% endblock %}
