{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact_bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contact</h1>
<span class="subheading">advisory</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>You can also locate me by the following phone numbers or on my social networks</p>
        <br>
        <p><i style="color: #25D366; font-size: 30px;" class="fa fa-whatsapp fa-x2"></i> => +58 424 5101140</p>
        <p><i style="color: #D60F21; font-size: 30px;"class="fa fa-envelope fa-x2"></i> => johnny.ord.mzk@gmail.com</p>

    </div>
</div>
{% endblock %}

